{{#each this}}
<li class="gallery-element">
    <div class="photo-card">
        <img class="img" width="450" height="300" src=" {{this.webformatURL}}" alt="image"
            data-bigimg="{{this.largeImageURL}}" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{this.likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{this.views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{this.comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{this.downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}